* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1 {
	margin: 30px 0px 20px 0px;
	text-align: center;
}
a {
    color: black;
    text-decoration: none;
}

.container {
	width: 800px;
	margin: 0 auto;
}
.areaContainer {
	display: flex;
	align-items: center;
    flex-direction: column;
}

.area {
	width: 600px;
	margin: 10px 0px;
	padding: 15px 20px;
	border: 2px solid black;
	border-radius: 10px;
}