@charset "UTF-8";

body {
  font-family: Arial, sans-serif;
  background-color: #EEF2F5;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center; 
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 80px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: none;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


th,
td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

td {
  padding-right: 10px;
}

tr:first-child th,
tr:first-child td {
  border-top: 2px solid #ddd;
  border-top-color: #548CFF;
}

th:first-child,
td:first-child {
  border-left: none;
}

th:last-child,
td:last-child {
  border-right: none;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

