@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap')
	;

@font-face {
	font-family: 'HallymGothic-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2')
		format('woff2');
	font-weight: 400;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: 0px solid;
	font-family: Arial, sans-serif;
}

html, body {
	height: 100%;
	font-family: HallymGothic-Regular;
}

body {
	font-family: Arial, sans-serif;
	background-color: #fff;
}

#root {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}

header {
	text-align: center;
	margin-bottom: 20px;
}

h1 ,h3 {
	margin-bottom: 40px;
	font-weight: 700;
	font-family: HallymGothic-Regular;
}

/*리스트 table*/
table {
	width: 100%;
	border-collapse: collapse;
	border: none;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

th, td {
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid #ddd;
}

td {
	padding-right: 10px;
}

tr:first-child th, tr:first-child td {
	border-top: 2px solid #ddd;
	border-top-color: #3F2305;
	/*	border-bottom-color: #333;
	border-bottom:2px solid #333;*/
}

th:first-child, td:first-child {
	border-left: none;
}

th:last-child, td:last-child {
	border-right: none;
}

a {
	font-weight: 700;
	color: #333;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/*신청 버튼*/
.container {
	top: 90%;
	left: 50%;
	transform: translateX(-50%);
	width: 130px;
	height: 20px;
	text-align: center;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #333;
	border-radius: 20px;
	border: none;
	color: #FFFFFF;
	font-size: 15px;
	padding: 20px;
	width: 130px;
	height: 20px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 50px;
	text-align: center;
	position: relative;
	bottom: 30px;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: '\00bb'; /*화살표*/
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button:hover span {
	padding-right: 25px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}

.li_class {
	list-style: none;
	float: left;
	margin-right: 10px;
}

/*검색*/
button[type="submit"], button[type="button"] {
	display: inline-block;
	padding: 8px 20px;
	border: none;
	border-radius: 4px;
	background-color: #fff;
	color: #333;
	cursor: pointer;
	margin-top: 10px;
	margin-right: 10px;
	border-radius: 20px;
	margin-bottom: 20px;
}

input {
	width: 20%;
	height: 40px;
	border-color: #bdc1c6;
	font-size: 16px;
	outline: none;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	vertical-align: middle;
	font-weight: 700;
	color: #888;
	position: relative;
	margin: 20px auto;
	border: 1px solid #bdc1c6;
	border-radius: 20px;
	margin-left: 10px;
	text-align: center;
}

.searchType {
	position: absolute;
	left: 10px;
	top: 20%;
}

i:hover {
	cursor: pointer;
}

/*검색 select*/
select {
	width: 250px;
	height: 35px;
	background-size: 20px;
	border-radius: 4px;
	outline: 0 none;
	border-radius: 20px;
	text-align: center;
}

select option {
	color: #333;
	padding: 3px 0;
	border-radius: 20px;
	text-align: center;
}