@charset "UTF-8";

.errMsg {
	color: red;
	font-style: italic;
}

.container {
	margin-top: 70px;
}

.form {
	border-radius: 5%;
	background-color: white;
	margin-top: 20px;
	width: 500px;
	margin: 0 auto;
	height: auto;
	max-height: 100%;
	border: 1px solid lightgray;
}

.id_pwbox {
	width: 500px;
	height: 130px;
}

.restinfo {
	width: 500px;
	height: 260px;
}

.btn_submitbox {
	text-align: center;
}

#btn_submit {
	width: 70%;
}

.errorMsg {
	font-size: 0.80rem;
}

.idbox {
	position: relative;
}

.idCheckBtn {
	position: absolute;
	top: 0;
	right: 0;
}