@charset "UTF-8";

.card-box {
	width: 70%;
	margin: 0 auto;
	margin-top: 120px;
}

.delete {
	margin-top: 50px;
}

.updateBtn {
	background-color: #333;
	color: white;
}

.updateBtn:hover {
	background: #505050;
	color: white;
}

.deleteBtn {
	background-color: #333;
	color: white;
}

.deleteBtn:hover {
	background: #505050;
	color: white;
}