@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap')
	;

@font-face {
	font-family: 'HallymGothic-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2')
		format('woff2');
	font-weight: 400;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
	height: 100%;
	font-family: HallymGothic-Regular;
}
h3, h5 {
	margin-bottom: 40px;
	font-weight: 700;
	text-align: center;
}

.container {
	width: 800px;
	margin: 0 auto;
	padding: 20px;
}

a {
	color: black;
	text-decoration: none;
}
p {
	margin: 5px 5px;
}

.list_container {
	text-align: center;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list_area {
	width: 500px;
	height: 130px;
	margin: 10px;
	padding: 5px;
	border: 2px solid black;
	border-radius: 10px;
	font-size: 1.2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
}