@charset "UTF-8";

.errMsg {
	color: red;
	font-style: italic;
	font-size: 0.80rem;
}

.container {
	margin-top: 70px;
}

.form {
	border-radius: 5%;
	background-color: white;
	margin-top: 20px;
	width: 500px;
	margin: 0 auto;
	height: auto;
	max-height: 100%;
	border: 1px solid lightgray;
}

.restinfo {
	width: 500px;
	height: 200px;
}

.btn_submitbox {
	text-align: center;
}

h1 {
	text-align: center;
	margin-top: 60px;
}

.input-box {
	text-align: center;
}

#btn_submit {
	width:80%;
	background-color: #333;
	color: white;
}

#btn_submit:hover {
	background: #505050;
	color: white;
}