<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
						

<mapper namespace="staff_mapper">

	<!-- 스탭 모집 공고 추가 -->
	<insert id="insert_staff" parameterType="StaffDto">
		INSERT INTO staff_recruitment
		(SRNO, recruitment_to, recruitment_field, preferential_treatment, application_period) 
		VALUES ( #{SRNO}, #{recruitmentTO}, #{recruitmentField},
				 #{preferentialTreatment}, #{applicationPeriod} )
	</insert>
	
	<!-- 스탭 모집 공고 리스트 조회 -->
 	<select id="select_staff_recruitment_list" resultType="StaffDto">
		SELECT SRNO, recruitment_to, recruitment_field, preferential_treatment, application_period 
		FROM staff_recruitment
	</select>
	
	<!-- 스탭 모집 공고 + 신청 양식 테이블 조회 -->
	 <select id="select_staff_recruitment_and_form_list" resultType="StaffFormDto">
		SELECT ff.fno, ff.festival_name, ff.commissioning_agency, ff.address_event, ff.place, ff.start_date, ff.end_date, 
			   sr.recruitment_to, sr.recruitment_field, sr.preferential_treatment, sr.application_period
		FROM staff_recruitment sr, FESTIVAL_FORM ff
		WHERE sr.SRNO = ff.FNO
		ORDER BY sr.application_period
	</select>
	
	<!-- 스탭 모집 공고 + 신청 양식 테이블 조회 by fno -->
	<select id="select_staff_recruitment_form_list_by_fno" parameterType="int" resultType="StaffFormDto">
		SELECT ff.fno, ff.festival_name, ff.commissioning_agency, ff.address_event, ff.place, ff.start_date, ff.end_date, 
			   sr.recruitment_to, sr.recruitment_field, sr.preferential_treatment, sr.application_period
		FROM staff_recruitment sr, FESTIVAL_FORM ff
		WHERE sr.SRNO = ff.FNO AND ff.fno = #{fno}
	</select>
	
	<!-- 스탭 신청 -->
	<insert id="insert_staff_apply" parameterType="StaffApplyDto">
		INSERT INTO staff_recruitment_apply
		(SRNO, SRANO, support_period_start, support_period_end, recruitment_field, id)
		VALUES (#{SRNO}, staff_recruitment_apply_SEQ.NEXTVAL, #{supportPeriodStart}, #{supportPeriodEnd},
				 #{recruitmentField}, #{id})
	</insert>
	
	<!-- 스탭 신청 리스트 -->
	<select id="select_staff_apply_list" resultType="StaffApplyListDto">
		SELECT ff.festival_name, ff.address_event, ff.place,
		        sra.id, sra.support_period_start, sra.support_period_end,
		        cc.code_name
		FROM FESTIVAL_FORM ff, staff_recruitment_apply sra, common_code cc
		WHERE ff.fno = sra.srno AND sra.recruitment_field = cc.code_type
	</select>
	
</mapper>