<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
						

<mapper namespace="fastivalList_mapper">

	<select id="select_fastivalList" resultType="FestivalListDto">
		select fstvl_Nm, fstvl_Start_Date, fstvl_End_Date, fstvl_Co, phone_Number from festival_info
	</select>

</mapper>















