<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bulletinBoard_mapper">

	<!-- 게시판 글 작성 -->
	<insert id="insertBulletinBoard"
		parameterType="BulletinBoardDto">
		INSERT INTO Bulletin_Board(
		BNO
		,type_of_inquiry
		, TITLE
		, CONTENT
		, WRITER )
		VALUES( Bulletin_Board_SEQ.NEXTVAL
		,#{typeOfInquiry},#{title}, #{content}, #{writer} )
	</insert>

	<!-- 게시판 작성된 리스트 조회 <select id="select_BulletinBoard_List" resultType="BulletinBoardDto"> 
		SELECT BNO, TITLE, CONTENT, WRITER, REGDATE FROM Bulletin_Board ORDER BY 
		BNO DESC </select> -->

	<!-- 페이지네이션 <select id="listPage" resultType="BulletinBoardDto" parameterType="Criteria"> 
		SELECT BNO, TITLE, CONTENT, WRITER, REGDATE FROM ( SELECT BNO, TITLE, CONTENT, 
		WRITER, REGDATE, ROW_NUMBER() OVER(ORDER BY BNO DESC) AS RNUM FROM Bulletin_Board 
		) Bulletin WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd} ORDER BY BNO DESC 
		</select> -->
	<select id="listPage" resultType="BulletinBoardDto"
		parameterType="SearchCriteria">
		SELECT BNO,
		type_of_inquiry,
		TITLE,
		CONTENT,
		WRITER,
		REGDATE
		FROM (
		SELECT BNO,
		type_of_inquiry,
		TITLE,
		CONTENT,
		WRITER,
		REGDATE,
		ROW_NUMBER() OVER(ORDER BY BNO DESC) AS RNUM
		FROM Bulletin_Board
		WHERE 1=1
		<include refid="search"></include>
		) Bulletin
		WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		ORDER BY BNO
		DESC
	</select>

	<!-- <select id="listCount" resultType="int"> <![CDATA[ SELECT COUNT(BNO) 
		FROM Bulletin_Board WHERE BNO > 0 ]]> </select> -->

	<!-- 페이지네이션 카운트 -->
	<select id="listCount" resultType="int"
		parameterType="SearchCriteria">
		SELECT COUNT(BNO)
		FROM Bulletin_Board
		WHERE 1=1
		<include refid="search"></include>
		AND BNO > 0
	</select>

	<!-- 검색 기능을 위해 동적 쿼리문 추가 -->
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">AND TITLE LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">AND CONTENT LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'w'.toString()">AND WRITER LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'tc'.toString()">AND (TITLE LIKE '%' || #{keyword} || '%') or (CONTENT
				LIKE '%' || #{keyword} || '%')</if>
		</if>
	</sql>




	<!-- 번호로 리스트 조회 -->
	<select id="select_BulletinBoard_List_By_Bno"
		parameterType="int" resultType="BulletinBoardDto">
		SELECT BNO,type_of_inquiry, TITLE, CONTENT, WRITER,
		REGDATE
		FROM Bulletin_Board
		WHERE BNO = #{bno}
	</select>

	<!-- 게시글 수정 -->
	<update id="update_BulletinBoard"
		parameterType="BulletinBoardDto">
		UPDATE Bulletin_Board
		SET TITLE = #{title},
		CONTENT =
		#{content}
		WHERE BNO = #{bno}
	</update>

	<!-- 게시글 삭제 -->
	<delete id="delete_BulletinBoard_By_Bno" parameterType="int">
		DELETE
		FROM Bulletin_Board
		WHERE BNO =
		#{bno}
	</delete>
</mapper>