<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comments_mapper">

	<!-- 댓글 조회 -->
	<select id="read_comments_List" resultType="CommentsDto">
		SELECT
		CNO, CONTENT,
		WRITER, REGDATE
		FROM comments
		WHERE BNO = #{bno}
	</select>

	<!-- 댓글 작성 -->
	<insert id="write_comments">
		INSERT INTO comments(
		BNO
		, CNO
		, CONTENT
		, WRITER
		)
		VALUES( #{bno}
		, comments_seq.NEXTVAL
		, #{content}
		, #{writer} )
	</insert>

	<!-- 댓글 수정 -->
	<update id="update_comments_by_cno" parameterType="CommentsDto">
		UPDATE
		comments SET CONTENT = #{content}
		WHERE CNO = #{cno}
	</update>

	<!-- 댓글 삭제 -->
	<delete id="deleteReply" parameterType="CommentsDto">
		DELETE FROM comments
		WHERE CNO = #{cno}
	</delete>

	<!-- 선택된 댓글 조회 -->
	<select id="selectReply" resultType="CommentsDto">
		SELECT
		BNO
		, CNO
		, CONTENT
		, WRITER
		, REGDATE
		FROM comments
		WHERE CNO = #{cno}
	</select>

</mapper>