<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="festivalData_mapper">

	<select id="select_festivalList" resultType="FestivalListDto">
		select fstvl_Nm,
		fstvl_Start_Date, fstvl_End_Date, fstvl_Co, phone_Number from
		festival_info
	</select>

	<insert id="merge_festivalDataUpdate" parameterType="FestivalDataDto">
		MERGE INTO festival_info as fi 
		USING (
			SELECT
			#{fstvlNm} as fstvlNm,
			#{opar} as opar,
			#{fstvlStartDate} as fstvlStartDate,
			#{fstvlEndDate} as fstvlEndDate,
			#{fstvlCo} as fstvlCo,
			#{mnnst} as mnnst,
			#{auspcInstt} as auspcInstt,
			#{suprtInstt} as suprtInstt,
			#{phoneNumber} as phoneNumber,
			#{homepageUrl} as homepageUrl,
			#{relateInfo} as relateInfo,
			#{rdnmadr} as rdnmadr,
			#{lnmadr} as lnmadr,
			#{latitude} as latitude,
			#{longitude} as longitude,
			#{referenceDate} as referenceDate,
			#{insttCode} = as insttcode
			FROM DUAL
		) as T1
		ON (fi.fstvl_Nm = T1.fstvlNm)
		WHEN MATCHED THEN
		UPDATE
		SET
		fi.fstvl_Nm = T1.fstvlNm,
		fi.opar = T1.opar,
		fi.fstvl_Start_Date = T1.fstvlStartDate,
		fi.fstvl_End_Date = T1.fstvlEndDate,
		fi.fstvl_Co = T1.fstvlCo,
		fi.mnnst =	T1.mnnst,
		fi.auspc_Instt = T1.auspcInstt,
		fi.suprt_Instt = T1.suprtInstt,
		fi.phone_Number = T1.phoneNumber,
		fi.homepage_Url = T1.homepageUrl,
		fi.relate_Info = T1.relateInfo,
		fi.rdnmadr = T1.rdnmadr,
		fi.lnmadr =	T1.lnmadr,
		fi.latitude = T1.latitude,
		fi.longitude = T1.longitude,
		fi.reference_Date = T1.referenceDari,
		fi.instt_code = T1.insttcode
		WHEN NOT MATCHED THEN
		INSERT (
		fi.fstvl_Nm,
		fi.opar,
		fi.fstvl_Start_Date,
		fi.fstvl_End_Date,
		fi.fstvl_Co,
		fi.mnnst,
		fi.auspc_Instt,
		fi.suprt_Instt,
		fi.phone_Number,
		fi.homepage_Url,
		fi.relate_Info,
		fi.rdnmadr,
		fi.lnmadr,
		fi.latitude,
		fi.longitude,
		fi.reference_Date,
		fi.instt_Code
		)
		VALUES (
		T1.fstvlNm,
		T1.opar,
		T1.fstvlStartDate,
		T1.fstvlEndDate,
		T1.fstvlCo,
		T1.mnnst,
		T1.auspcInstt,
		T1.suprtInstt,
		T1.phoneNumber,
		T1.homepageUrl,
		T1.relateInfo,
		T1.rdnmadr,
		T1.lnmadr,
		T1.latitude,
		T1.longitude,
		T1.referenceDate,
		T1.insttCode
		)
	</insert>

</mapper>















